@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: white;
  margin: auto;
  padding: 0px;
  overflow-x: hidden;
  background-repeat: repeat;
  font-family: "Inter", sans-serif;
  display: grid;
}

header {
  background-color: #333333;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.is-active {
  color: #ffffff !important;
}

ul.main-menu {
  display: inline-flex;
  list-style: none;
  margin: 0px auto 0;
  padding: 0;
  float: right;
  z-index: 7;
}
ul.main-menu > li.menu-item:first-child {
  padding-left: 0;
  margin-left: 0;
}
.menu-item {
  line-height: 23px;
}
li {
  list-style-type: none;
}
.menu-item a {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  display: block;
  color: #888f92d8;
  margin: 27px 17px;
  text-decoration: none;
  cursor: pointer;
}
.header__middle__logo {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__middle__logo a img {
  width: auto;
  justify-content: baseline;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header__middle__menus {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.header__middle {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px dashed lavender;
  position: relative;
}

.sub__menus__arrows {
  position: relative;
}
.sub__menus__arrows svg,
.sub__menus__arrows__full svg {
  padding-top: 0px;
  position: absolute;
  top: 4px;
}
.sub__menus {
  position: absolute;
  display: none;
  background: #333333;
  border: 1px solid rgb(99, 98, 98);
  width: 227px;
  left: -17px;
  padding: 2px 0 0 0;
  z-index: 1000;
  box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 767px) {
  .header__middle .active {
    color: #ffffff !important;
  }
}

@media (min-width: 992px) {
  .sub__menus__arrows:hover .sub__menus {
    display: block;
  }
  .sub__menus__arrows__full:hover .sub__menus {
    display: block;
    z-index: 1000000;
  }
}
.menu-item .sub__menus a {
  padding: 7px 0 0px 0;
  margin: 7px 27px;
}
.menu-item:hover > a {
  color: #ffffff !important;
}
.menu-item .sub__menus li:hover a {
  color: #ffffff !important;
}

.header__middle__logo img {
  max-width: 207px;
  margin: 17px 0 0 0;
}

@media (max-width: 991px) {
  .header__middle__logo {
    width: 77%;
  }
  .header__middle__menus {
    width: 20%;
  }
  .header__middle__logo img {
    max-width: 197px;
    margin: 27px 0 0 0;
  }

  .main-nav .menubar__button {
    display: block !important;
    float: right;
    background-color: #080808;
    color: #fff;
    padding: 6px 7px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 10037;
  }
  .main-nav .menubar__button svg {
    font-size: 27px;
  }
  .main-nav ul.menuq2 {
    display: block !important;
    position: fixed;
    left: 0;
    z-index: 10007;
    background: #333;
    border-bottom: 3px solid #000;
    right: 0;
    padding-bottom: 17px;
    padding-top: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .main-nav .menu-item a {
    margin: 10px 17px;
    text-align: center;
    color: #888f92d8;
  }
  .main-nav ul.main-menu {
    display: none;
  }
  .main-nav .sub__menus__arrows:hover .sub__menus {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .sub__menus__Active {
    display: block !important;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
  }
  .sub__menus__Active2 {
    display: block !important;
  }
  .menus__categorysss {
    display: none;
  }
  .menus__categorysss2 {
    display: none;
  }
  .menu-item .sub__menus__full a {
    text-align: left;
  }
}
