.container-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  box-sizing: content-box;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffffbb;
  background-color: black;
  width: 20rem;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 1rem 1rem 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 40rem;
  border: 1px solid #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem 0 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.info-title {
  margin: 4rem 2rem;
}

.info-contact {
  padding: 1rem 0;
  margin-left: 3rem;
  background-color: #ffffffbb;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.sections {
  display: flex;
  flex-direction: row;
}

.form-group {
  margin: 1rem;
}

label {
  display: block;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="message"],
input[type="phoneNumber"],
input[type="events"],
input[type="doe"],
input[type="city"],
input[type="location"],
input[type="profile"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

label {
  font-size: 14px;
  margin: 5px 0;
}

.info-motto {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5rem 0;
  font-size: small;
}

@media (max-width: 992px) {
  .sections {
    flex-direction: column;
  }

  .container-form {
    width: auto;
    flex-direction: column;
    padding: 3rem;
  }

  .form-container {
    margin: 0 auto;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .info-container {
    margin: 0 auto;
    padding: 0;
    width: 40rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .info-contact {
    padding: 1rem 0;
    margin: auto;
    background-color: #ffffffbb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 500px;
  }

  .info-title {
    margin: 2rem;
  }

  .form-title {
    margin-top: 2rem;
  }

  .general-sections {
    width: 500px;
  }

  .btn-contact {
    width: 100%;
    margin: 1.5rem auto;
  }

  .info-motto {
    display: none;
  }
}
